
.App {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: rgb(17, 19, 19);
  text-align: left;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
